.wrapper {
  padding-bottom: 50px;
}

.flex-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#search {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 5px;
  padding: 14px;
  width: 36%;
  border-radius: 5px;
  border: 1px solid lightgray;
}

.img-container {
  display: grid;
  grid-template-columns: 260px 260px 260px 260px;
  grid-row-gap: 30px;
  margin-left: auto;
  margin-right: auto;
}

.thumbnail {
  padding-top: 25px;
  padding-left: 25px;
  padding-right: 25px;
  margin-left: auto;
  margin-right: auto;
}
